.app__folderList {
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.app__folderList > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.active {
  background: lightblue;
}



